# DP | Réseau de neurone pour prédire une accord de prêt

# Initialisation

- Import all modules

In [270]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD
from sklearn.model_selection import train_test_split

- Load CSV

In [271]:
df = pd.read_csv("./bank-full.csv")

- Remplaçage des chaînes de caractères en valeurs numériques

In [272]:
df['default'] = df['default'].map( 
                   {'yes':1 ,'no':0}) 
df['housing'] = df['housing'].map( 
                   {'yes':1 ,'no':0}) 
df['loan'] = df['loan'].map( 
                   {'yes':1 ,'no':0}) 
df['Target'] = df['Target'].map( 
                   {'yes':1 ,'no':0}) 



df[['job', 'marital', 'education']] = df[['job', 'marital', 'education']].apply(lambda x: pd.factorize(x)[0])

- Supprimer les colonnes non importantes

In [273]:
df = df.drop(['contact','day','month','poutcome', 'pdays', 'duration'], axis=1)

- Affichage des données

In [274]:
df

,age,job,marital,education,default,balance,housing,loan,campaign,previous,Target
0,58,0,0,0,0,2143,1,0,1,0,0
1,44,1,1,1,0,29,1,0,1,0,0
2,33,2,0,1,0,2,1,1,1,0,0
3,47,3,0,2,0,1506,1,0,1,0,0
4,33,4,1,2,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
45206,51,1,0,0,0,825,0,0,3,0,1
45207,71,5,2,3,0,1729,0,0,2,0,1
45208,72,5,0,1,0,5715,0,0,5,3,1
45209,57,3,0,1,0,668,0,0,4,0,0
45210,37,2,0,1,0,2971,0,0,2,11,0

# Création des jeux de données

In [275]:
train, test = train_test_split(df, test_size=0.2)

- Création du jeu de 'train'

In [276]:
X_train = pd.get_dummies(train.drop(['Target'], axis=1), drop_first=True)
Y_train = train['Target']

- Création du jeu de 'test'

In [277]:
X_test = pd.get_dummies(test.drop(['Target'], axis=1), drop_first=True)
Y_test = test['Target']

# Création du modèle

- Initilisation du modèle

In [278]:
model = Sequential()
model.add(Dense(10, activation="relu", name="layer1", kernel_initializer="uniform"))
model.add(Dense(1, activation="sigmoid", name="layer2", kernel_initializer="uniform"))

sgd = SGD(learning_rate=0.4)

model.compile(loss="categorical_crossentropy", optimizer=sgd, metrics=["accuracy"])

- Apprentissage du modèle avec les données de 'train'

In [279]:
model.fit(x=X_train, y=Y_train, epochs=1, batch_size=30)

1206/1206 [==============================] - 2s 1ms/step - loss: nan - accuracy: 0.8824

Plusieurs tests on été fait en modifiant le nombre d'"epochs" ou en modifiant la valeur du 'learning_rate' mais les résultats tendent à chaque fois à 88%

Nous avons également essayé d'ajouter des couches de neurones avec différents neurones dedans mais cela ne change pas les résultats

# Evaluation du modèle

- Evaluation du jeu de 'train'

In [280]:
scores = model.evaluate(X_train, Y_train)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

1131/1131 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.8824

accuracy: 88.24%

- Evaluation du jeu de 'test'

In [281]:
scores = model.evaluate(X_test, Y_test)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

283/283 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.8855

accuracy: 88.55%

# Export du modèle

In [282]:
model.save("./neural-network")

INFO:tensorflow:Assets written to: ./neural-network\assets