In [2]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("./bank-full.csv")

In [4]:
df['default'] = df['default'].map( 
                   {'yes':1 ,'no':0}) 
df['housing'] = df['housing'].map( 
                   {'yes':1 ,'no':0}) 
df['loan'] = df['loan'].map( 
                   {'yes':1 ,'no':0}) 
df['Target'] = df['Target'].map( 
                   {'yes':1 ,'no':0}) 

#df = df.drop(['contact','day','month','campaign',"pdays", "previous", "poutcome"], axis=1)
df = df.drop(['contact','day','month','poutcome', 'pdays', 'duration'], axis=1)


df[['job', 'marital', 'education']] = df[['job', 'marital', 'education']].apply(lambda x: pd.factorize(x)[0])

In [5]:
df

,age,job,marital,education,default,balance,housing,loan,campaign,previous,Target
0,58,0,0,0,0,2143,1,0,1,0,0
1,44,1,1,1,0,29,1,0,1,0,0
2,33,2,0,1,0,2,1,1,1,0,0
3,47,3,0,2,0,1506,1,0,1,0,0
4,33,4,1,2,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
45206,51,1,0,0,0,825,0,0,3,0,1
45207,71,5,2,3,0,1729,0,0,2,0,1
45208,72,5,0,1,0,5715,0,0,5,3,1
45209,57,3,0,1,0,668,0,0,4,0,0
45210,37,2,0,1,0,2971,0,0,2,11,0

In [53]:
train, test = train_test_split(df, test_size=0.2)

X_train = pd.get_dummies(train.drop(['Target'], axis=1), drop_first=True)
Y_train = train['Target']

X_test = pd.get_dummies(test.drop(['Target'], axis=1), drop_first=True)
Y_test = test['Target']

model = Sequential()
model.add(Dense(10, activation="relu", name="layer1", kernel_initializer="uniform"))
model.add(Dense(100, activation="relu", name="layer2", kernel_initializer="uniform"))
model.add(Dense(1, activation="sigmoid", name="layer4", kernel_initializer="uniform"))

In [54]:
sgd = SGD(learning_rate=0.5)

model.compile(loss="categorical_crossentropy", optimizer=sgd, metrics=["accuracy"])

history = model.fit(x=X_train, y=Y_train, epochs=1, batch_size=30)

1206/1206 [==============================] - 2s 1ms/step - loss: nan - accuracy: 0.8816

In [55]:
scores = model.evaluate(X_train, Y_train)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

1131/1131 [==============================] - 2s 1ms/step - loss: nan - accuracy: 0.8822

accuracy: 88.22%

In [56]:
scores = model.evaluate(X_test, Y_test)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

283/283 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.8861

accuracy: 88.61%